@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 14px 18px 14px 18px;
    font-style: SemiBold;
    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}
.btn-container{
    text-align: center;
}
#hero {
    height: 405px;
    background-image: linear-gradient(0deg, rgba(9.2, 8.93, 8.93, 1) 3.482%, rgba(16, 16, 16, 0) 101.632%), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero .hero-content {
    width: 440px;

}

#hero .hero-content .subtitle {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: Bold;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 10px;
}

#hero .hero-content .title {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: Bold;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}

#hero .hero-content .description {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: Medium;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}