@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

.btn{
  background: rgba(82, 195, 3, 1);
  color: rgb(255,255,255);
  padding: 14px 18px 14px 18px;
  font-weight: 700;
  line-height: 1.5;
  /* Best practice: সাধারণত 1.5 বা 1.6 ব্যবহার করলে লেখা সুন্দর ও readable হয়। */
  text-align: center;
  border-radius: 8px;
  border:none;
}

.btn-container{
     text-align: center;
}

/* hero section style Start */
#hero {
    height: 405px;
    background-image: linear-gradient(0deg, rgba(9.2, 8.93, 8.93, 1) 3.482%, rgba(16, 16, 16, 0) 101.632%), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#hero .hero-content {
    width: 450px;

}

#hero .hero-content .subtitle{
    color:rgb(255,255,255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;

    /* line-height: 1 → লাইনের মাঝে খুব কম ফাঁকা
    line-height: 1.5 বা 1.6 → পড়তে আরামদায়ক
    line-height: 2 → অনেক বেশি ফাঁকা */

    opacity: 0.7;  
     /* Opacity এর value হয় 0 থেকে 1 এর মধ্যে:
     opacity: 1 → পুরোপুরি দেখা যাবে (default)
     opacity: 0.7 → একটু ফিকে
     opacity: 0.5 → অর্ধেক স্বচ্ছ
     opacity: 0 → একেবারে দেখা যাবে না */
     
     text-align: center;
     margin-bottom: 10px;
   
}

#hero .hero-content .title{
    color:rgb(255,255,255);
    font-family: Work Sans;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.5;
   /* Best practice: সাধারণত 1.5 বা 1.6 ব্যবহার করলে লেখা সুন্দর ও readable হয়। */
    text-align: center;
    margin-bottom: 24px;
}

#hero .hero-content .description{
    color:rgb(255,255,255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5; 
    /* Best practice: সাধারণত 1.5 বা 1.6 ব্যবহার করলে লেখা সুন্দর ও readable হয়। */
    text-align: center;
    opacity: 0.5;
    margin-bottom: 32px;
}
/* hero section style end */