@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

.btn {
    background: rgba(82, 195, 3, 1);
    color: rgb(255, 255, 255);
    padding: 14px 18px 14px 18px;
    font-weight: 700;
    line-height: 1.5;
    /* Best practice: সাধারণত 1.5 বা 1.6 ব্যবহার করলে লেখা সুন্দর ও readable হয়। */
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-container {
    text-align: center;
}

/* hero section style Start */
#hero {
    height: 405px;
    background-image: linear-gradient(0deg, rgba(9.2, 8.93, 8.93, 1) 3.482%, rgba(16, 16, 16, 0) 101.632%), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero .hero-content {
    width: 450px;

}

#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;

    /* line-height: 1 → লাইনের মাঝে খুব কম ফাঁকা
    line-height: 1.5 বা 1.6 → পড়তে আরামদায়ক
    line-height: 2 → অনেক বেশি ফাঁকা */

    opacity: 0.7;
    /* Opacity এর value হয় 0 থেকে 1 এর মধ্যে:
     opacity: 1 → পুরোপুরি দেখা যাবে (default)
     opacity: 0.7 → একটু ফিকে
     opacity: 0.5 → অর্ধেক স্বচ্ছ
     opacity: 0 → একেবারে দেখা যাবে না */

    text-align: center;
    margin-bottom: 10px;

}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.5;
    /* Best practice: সাধারণত 1.5 বা 1.6 ব্যবহার করলে লেখা সুন্দর ও readable হয়। */
    text-align: center;
    margin-bottom: 24px;
}

#hero .hero-content .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    /* Best practice: সাধারণত 1.5 বা 1.6 ব্যবহার করলে লেখা সুন্দর ও readable হয়। */
    text-align: center;
    opacity: 0.5;
    margin-bottom: 32px;
}

/* hero section style end */

/* Card section style start here */

#card-box {
    width: 581px;
    margin: 100px auto;
    /* margin 50px means top and bottom took 50px margin and for left and right it took auto means keep middle from both side */
}

#card-box .title {
    font-family: Work Sans;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.5;
    /* Best practice: সাধারণত 1.5 বা 1.6 ব্যবহার করলে লেখা সুন্দর ও readable হয়। */
    text-align: center;
    margin-bottom: 24px;
}

#card-box .subtitle {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    /* line-height: 1 → লাইনের মাঝে খুব কম ফাঁকা
    line-height: 1.5 বা 1.6 → পড়তে আরামদায়ক
    line-height: 2 → অনেক বেশি ফাঁকা */

    opacity: 0.6;
    /* Opacity এর value হয় 0 থেকে 1 এর মধ্যে:
     opacity: 1 → পুরোপুরি দেখা যাবে (default)
     opacity: 0.7 → একটু ফিকে
     opacity: 0.5 → অর্ধেক স্বচ্ছ
     opacity: 0 → একেবারে দেখা যাবে না */

    text-align: center;
    margin-bottom: 10px;
}

.card-container {
    margin-top: 30px;
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    gap: 50px;
    font-family: Work Sans;
}

.card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .image-box img {
    width: 100%;
}

.card .shop {
    background-color: #52C30326;
    padding: 10px 16px 10px 16px;
}

/* Card section style end here */


/* About us section start here */

#about-us {
    width: 855px;
    margin: 100px auto;
}

#about-us .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#about-info .about-title {
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    /* line-height: 1 → লাইনের মাঝে খুব কম ফাঁকা
    line-height: 1.5 বা 1.6 → পড়তে আরামদায়ক
    line-height: 2 → অনেক বেশি ফাঁকা */
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 12px;
}

#about-info .about-description {
    font-family: Work Sans;
    font-size: 14px;
    letter-spacing: 1.5;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 48px;
    

}

#about-info .about-follow{
    text-align: center;
    margin-bottom: 32px;
        
}

.about-follow hr{
    margin: 15px;
}
   
.about-follow span{
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
}

#about-info .about-icon{
    font-size: 25px;
    text-align: center;
    cursor: pointer; 

}

/* About us section style end here */




/* Footer Section start here */

 #footer-container{
  
    background-image: url(../assets/social-bg.png);
    background-position: cover;
    /* background-repeat: no-repeat; */
    
 }

 .footer-content {
    width: 354px;
    margin: 0 auto;
 }

 .footer-title{
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.6;
    margin-bottom: 16px;
    padding-top: 80px;

 }

 .footer-subtitle{
    font-family: Work Sans;
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
    
 }

 .footer-social hr{
    margin: 20px;
    
 
 }

 .footer-content .footer-tag{
    font-family: Work Sans;
    opacity: 0.6;
    text-align: center;
    

 }

 .Social-icon{
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 30px;
    cursor: pointer;
    
 }

 .footer-final{
    font-family: Work Sans;
    font-size: 17px;
    text-align: center;
    color:firebrick;
    font-weight: 400;
    padding-bottom: 30px;
    font-style: italic;
 }
/* Footer Section start here */